<div id="<%= dom_id order_dish %>" class="order-dish">
  <div class="order-dish-field">
    <strong class="label">Order:</strong>
    <%= order_dish.order_id %>
  </div>
  <div class="order-dish-field">
    <strong class="label">Dish:</strong>
    <%= order_dish.dish_id %>
  </div>
  <div class="order-dish-field">
    <strong class="label">Quantity:</strong>
    <%= order_dish.quantity %>
  </div>
</div>
