<% content_for :title, "Modifier un article de commande" %>

<div class="order-dish-edit">
  <h1>Modifier un article de commande</h1>

  <%= render "form", order_dish: @order_dish %>

  <div class="edit-actions">
    <%= link_to "Voir cet article", @order_dish, class: "btn-secondary" %>
    <%= link_to "Retour à la liste", order_dishes_path, class: "btn-secondary" %>
  </div>
</div>
