<% content_for :title, "Nouvel article de commande" %>

<div class="order-dish-new">
  <h1>Nouvel article de commande</h1>

  <%= render "form", order_dish: @order_dish %>

  <%= link_to "Retour à la liste", order_dishes_path, class: "btn btn-secondary mt-2" %>
</div>
