<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.name %> et bienvenue chez Le Plaisir !</h1>
    <p>
      Tu t'es inscrit sur le-plaisir-snack.fr en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= "http://127.0.0.1:3000/users/sign_in" %>.
    </p>
    <p> À très vite pour ta prochaine commande !
  </body>
</html>