<% content_for :title, "Modifier l'ingrédient" %>

<div class="ingredient-edit-container">
  <h1 class="ingredient-edit-title">Modifier l'ingrédient</h1>

  <%= render "form", ingredient: @ingredient %>

  <div class="ingredient-edit-links">
    <%= link_to "Voir cet ingrédient", @ingredient, class: "btn btn-primary" %>
    <%= link_to "Retour à la liste", ingredients_path, class: "btn btn-secondary" %>
  </div>
</div>
