<% content_for :title, "Nouvel ingrédient" %>

<div class="ingredient-form-container">
  <h1 class="ingredient-form-title">Nouvel ingrédient</h1>

  <%= render "form", ingredient: @ingredient %>

  <%= link_to "Retour aux ingrédients", ingredients_path, class: "btn btn-secondary mt-4" %>
</div>
