<div class="home-wrapper">
  <div class="home-banner">
    <%= image_tag 'logo.png', alt: 'Le Plaisir', class: 'home-logo' %>

    <h1>Restauration rapide halal</h1>
    <p>Sur place ou à emporter à Forbach</p>

    <div class="home-hours">
      <p>
        <i class="fa fa-calendar"></i>
        Du lundi au samedi 11h00 - 23h00<br>
        Le dimanche 11h30 - 23h00
      </p>
    </div>

    <%= link_to 'Voir le menu', dishes_path, class: 'btn btn-primary' %>
  </div>

  <section class="student-menu-promo">
    <h2>Menu étudiant 7,50€</h2>
    <p>Présentation carte étudiante</p>
  </section>
</div>
