<div id="<%= dom_id order %>" class="order-card">
  <div>
    <strong class="order-label">Utilisateur :</strong>
    <%= order.user_id %>
  </div>

  <div>
    <strong class="order-label">Prix total :</strong>
    <%= number_to_currency(order.total_price, unit: "€") %>
  </div>

  <div>
    <strong class="order-label">Statut :</strong>
    <%= order.status.capitalize %>
  </div>
</div>
