<% content_for :title, "Modification de la commande" %>

<div class="form-container">
  <h1 class="page-title">Modification de la commande</h1>

  <%= render "form", order: @order %>

  <div class="form-links">
    <%= link_to "Voir cette commande", @order, class: "btn-secondary" %>
    <%= link_to "Retour aux commandes", orders_path, class: "btn-secondary" %>
  </div>
</div>
