<div id="<%= dom_id cart_dish %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Cart:</strong>
    <%= cart_dish.cart_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dish:</strong>
    <%= cart_dish.dish_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= cart_dish.quantity %>
  </div>
</div>
