<% content_for :title, "New cart dish" %>

<div class="form-container">
  <h1 class="page-title">New cart dish</h1>

  <%= render "form", cart_dish: @cart_dish %>

  <%= link_to "Back to cart dishes", cart_dishes_path, class: "btn btn-secondary btn-back" %>
</div>
