<% content_for :title, "Editing cart" %>

<div class="edit-cart-container">
  <h1>Editing cart</h1>

  <%= render "form", cart: @cart %>

  <div class="edit-cart-links">
    <%= link_to "Show this cart", @cart, class: "btn-link" %>
    <%= link_to "Back to carts", carts_path, class: "btn-link" %>
  </div>
</div>
