<% content_for :title, "New cart" %>

<div class="cart-form-container">
  <h1>New cart</h1>

  <%= render "form", cart: @cart %>

  <%= link_to "Back to carts", carts_path, class: "btn-back" %>
</div>
