<% content_for :title, "Mon Panier" %>

<div class="container my-5">
  <h1 class="mb-4 display-5 fw-bold">Mon Panier</h1>

  <% if @cart_dishes.any? %>
    <% @cart_dishes.each do |cart_dish| %>
      <%= render cart_dish %>
    <% end %>

    <div class="mt-4 text-end">
      <h4>Total : <%= number_to_currency(@cart_dishes.sum { |cd| cd.dish.price * cd.quantity }) %></h4>
      <%= link_to "Passer la commande", new_order_path, class: "btn btn-success btn-lg" %>
    </div>
  <% else %>
    <p class="lead">Votre panier est vide.</p>
    <%= link_to "Voir nos plats", dishes_path, class: "btn btn-primary" %>
  <% end %>
</div>
