<h1>Mon Panier</h1>

<% if @cart.cart_dishes.any? %>
  <ul>
    <% @cart.cart_dishes.each do |cart_dish| %>
      <li>
        <%= cart_dish.dish.title %> - Quantité : <%= cart_dish.quantity %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Votre panier est vide.</p>
<% end %>
