<% content_for :title, "Modification d’un plat" %>

<div class="dish-edit-container">
  <h1 class="page-title">Modifier le plat</h1>

  <%= render 'form', dish: @dish %>

  <%= link_to "Voir ce plat", @dish, class: "btn-secondary" %>
  <%= link_to "Retour à la liste", dishes_path, class: "btn-secondary" %>
</div>
