.order-dish {
  width: 100%;
  @media (min-width: 640px) {
    width: auto;
  }

  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding: 0;

  .order-dish-field {
    margin-bottom: 1.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
}
